@import 'utilities.css';

:root{
  --primary: #7c4dff;
  --primary-overlay: #7c4dffad;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #070606;
  --dark-ransparent: #161616d8;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialised;
}
html{
  scroll-behavior: smooth;
  
}
body{
  font-family: 'Poppins', sans-serif;
  
}

header{
  background: var(--dark);
  clip-path: polygon(0% 0%, 100% 0,100% 90%,0% 100%);
  margin-top: -10px;
  padding-top: 5rem;
}



.container{
  max-width: 1152px;
  padding: 0 50px;
  margin: 0 auto;
}

@media(min-width:576px){
  .container{
    max-width: 540px;
  }
}
@media(min-width:768px){
  .container{
    max-width: 720px;
  }
}
@media(min-width:992px){
  .container{
    max-width: 968px;
  }
}
@media(min-width:1215px){
  .container{
    max-width: 1152px;
  }
}

nav{
  color: var(--pure);
  background:var(--dark-ransparent);
  position: fixed;
  top: 0;
  left:0; 
  width: 100%;
  display: flex;
  padding: 1rem 14rem;
  z-index: 10;

}
nav .left a{
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all .3s ease;
}
nav .left a:hover{
  color: var(--primary);
}

nav .branding{
  margin-right: 6rem;
}
 nav .branding h1{
  margin-left: -4rem;
  color: var(--primary);
}

.profile{
  margin-top: 10px;
  padding: 3rem 0;
}

.profile .left img{
  border-radius: 50%;
  width: 400px;
  margin-left: 3rem;

}
.profile .right{
  color: var(--pure);
  margin-left: 4rem;
}

.profile .right h6{
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
  
}
.profile .right h1{
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;  
}
.profile .right h1 span{
  color: var(--primary);
}
.profile .right p{
  line-height: 1.9;
  margin-bottom: 2rem;
  
  text-align: justify;
}
.profile .right button{
  margin-bottom: 5.5rem;
}

section{
  padding: 7rem 0;
}
section.about{
  padding: 10rem 0;
  padding-bottom: 3rem;
  
}
section.about p{
  text-align: justify;
}

section.about .about-me-img{
  height: 450px;
  margin-left: 50px;
}
section.about .laptop{
  height: 500px;
  margin-left: 50px;
  margin-top: 110px;
}

section.about h1{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
section.about h1 span{
  color: var(--primary);
}
section.about h3{
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
section.about p{
  font-family: 'lato', sans-serif;
  color: var(--ternary);
  line-height: 1.9;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

section.about h1{
  
  margin-bottom: 5%;
}
section.about .random-facts{
  padding-top: 10rem;
  padding-left: 6rem;
  margin-top: -100px;
 
}
section.about .random-facts h1{
  padding-bottom:  2rem; 
}
section.about .random-facts p{
  font-size: 1.1rem;
  color: var(--ternary);
  line-height: 1;
  margin-bottom: 1rem;
}

.section-heading{     /*technical skills about home etc*/
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5rem;
}
.section-heading + p{   /*technical skills quote*/
  color: var(--ternary);
  font-family: 'Lato',sans-serif;
  margin-bottom: 3rem;
  text-align: center;
}

.section-heading span{
  color: var(--primary);
}
section.skills  {
  background:var(--light);
 
}
section.skill{
  padding: 0rem 0rem;
}

section.skills .card-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  padding: 0rem 2rem;
}
section.skills .card-wrapper .card{
  background: var(--pure);
  padding: 2rem 2rem;
  position: relative;
  padding-top: 5rem;
  text-align: center;
  transition: all 0.3s ease;
}
section.skills .card-wrapper .card img{
  width: 25%;
  position: absolute;
  top : -2.5rem;
  left: 50%;
  transform: translateX(-50%);  /*skill cards center-top alignment*/
}
section.skills .card-wrapper .card h2{
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}
section.skills .card-wrapper .card p{
  font-family: 'lato' , sans-serif;
  color: var(--ternary);
  line-height: 1.6rem;
}
section.skills .card-wrapper .card:hover{
  background-color: var(--dark);
}
section.skills .card-wrapper .card:hover h2{
  color: var(--primary);
}
section.skills .card-wrapper .card:hover p {
  color: var(--pure);
}

section.hall-of-fame{
  
  margin-top: 3rem;
 
}

section.hall-of-fame .card-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;
  
}
section.hall-of-fame .card-wrapper .card{
  position: relative;
  
}
section.hall-of-fame .card-wrapper .card img{
  width : 100%;
  height: 100%;
}
section.hall-of-fame .card-wrapper .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background:  var(--primary-overlay);
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
  color: var(--light);
  opacity: 0%;
  transition: all 0.6s ease;
}
section.hall-of-fame .card-wrapper .overlay a{
  color: var(--secondary);
  text-decoration: none;
}
section.hall-of-fame .card-wrapper .card:hover .overlay{
  opacity: 100%;

}

section.contact .social{
  display: flex;
  justify-content: center;
  }
  
section.contact .social a{
    
  background: var(--dark);
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.6rem;
  transition: all .3s ease;
      
}
section.contact .social a:hover{
  background: var(--primary);
}

section.contact .social a img{
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  filter: invert(1);
}

section.contact .credit-copyright{
  text-align: center;
  margin-top: 30px;
  
}

section.contact{
  color: var(--light);
  background: var(--dark);
  padding-bottom: 2rem;
  padding-top:  6rem;
  clip-path: polygon(0% 10%, 100% 0%,100% 100%,0% 100%);
}

section.contact  h1{
  color:var(--light);
  
}

section.contact .container .mail-to{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top:0rem;
  
}
section.contact .container .mail-to button{
  border-style: double;
}
section.contact .credit-copyright .creditSection a{
  text-decoration: none;
  color: var(--primary);

}

@media(max-width:1215px)
{
  #main-nav{
    display: none;
    
  }
  header{
    padding-top: 0rem;;
  }
  .profile .left img{
    width: 260px;
  }
  .profile .right h1{
    font-size: 3rem;
  }
  .profile{
    padding-top: 8rem;
  }
  section.about .about-me-img{
    height: 420px;
    margin-left: 70px;
  }
}

.site-main-wrapper{
  position:relative;

}
.hamberger{
  position: absolute;
  top:40px;
  right: 40px;
  z-index: 11;
  background: none;
  border: none;
  filter: invert(1);
  outline: none;
  cursor: pointer;

}

.mobile-nav{
  position: fixed;
  top:0;
  left: 0%;
  z-index: 1001;
  background: var(--dark-ransparent);
  width: 100%;
  height: 100%;
  padding: 2rem ;
  padding-top: 5rem;
  transform: translateX(-100%);
  transition: all .5s ease-in-out;
}
.open{
  transform: translateX(0);
}
.times{
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

}
.times img{
  width: 30px;
}

.mobile-nav ul{
  list-style-type: none;
  
}
.mobile-nav ul li a{
  color: var(--secondary);
  text-decoration: none;
  font-size: 2rem;  
  color: var(--light);
}